{% extends "WorkshopTwitterBootstrapBundle::main.html.twig" %}

{% block content %}
    <div class="hero-unit">
        <h1>Secured area!</h1>
        <p>Hello, {{ app.user.username }}!</p>
{% endblock %}
