{% extends "WorkshopMainBundle::main.html.twig" %}

{% block content %}
    <div class="hero-unit">
        <h1>Hello, world!</h1>
        <p>Willkommen beim Symfony Workshop!</p>
    </div>
{% endblock %}